.ProductMenu {
  margin-top: 66px;
}

.wpMenu {
  width: 100%;
  height: 80px;
  background-color: rgb(245, 245, 245);
  position: fixed;
}

.block {
  width: 100%;
  height: 80px;
}

.wpMenu ul {
  display: flex;
  justify-content: space-around;
  max-width: 450px;
  height: 100%;
  margin: auto;
}

.wpMenu li {
  font-size: 1.1rem;
  height: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

.wpMenu li:hover {
  border-bottom: 3px solid black;
}

.wpMenu a {
  text-decoration: none;
  color: black;
}